# WETH SYM ARB CASE
[modules]
signer = false


[settings]
block = 19109955
coinbase = "0x1dd35b4da6534230ff53048f7477f17f7f4e7a70"
multicaller = "0x3dd35b4da6534230ff53048f7477f17f7f4e7a70"
skip_default = false

[pools]
usdt_flc_uni3 = { address = "0xebce363564fa8b55d85aaf681156087116b148db", class = "uniswap3" }
flc_dai_uni3 = { address = "0x2b2a82d50e6e9d5b95ca644b989f9b143ea9ede2", class = "uniswap3" }
dai_usdt_uin3 = { address = "0x48da0965ab2d2cbf1c17c09cfb5cbe67ad5b1406", class = "uniswap3" }

weth_syn_uni3 = { address = "0x2dd35b4da6534230ff53048f7477f17f7f4e7a70", class = "uniswap3" }
weth_syn_sushi = { address = "0x4a86c01d67965f8cb3d0aaa2c655705e64097c31", class = "uniswap2" }


[txs]
tx_1 = { hash = "0xf9fb98fe76dc5f4e836cdc3d80cd7902150a8609c617064f1447c3980fd6776b", send = "mempool" }
tx_2 = { hash = "0x1ec982c2d4eb5475192b26f7208b797328eab88f8e5be053f797f74bcb87a20c", send = "mempool" }

[tokens]
weth = { address = "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2", symbol = "WETH", decimals = 18, basic = true, middle = false }
usdt = { address = "0xdAC17F958D2ee523a2206206994597C13D831ec7", symbol = "USDT", decimals = 6, basic = true, middle = false }


[assertions]
swaps_encoded = 1
swaps_ok = 1
best_profit_eth = 0.00519
