# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
default-members = [
  "bin/exex_grpc_node",
  "bin/gasbench",
  "bin/keys",
  "bin/loom_anvil",
  "bin/loom_backrun",
  "bin/loom_exex",
  "bin/nodebench",
  "bin/replayer",
]
members = [
  "bin/exex_grpc_loom",
  "bin/exex_grpc_node",
  "bin/gasbench",
  "bin/keys",
  "bin/loom_anvil",
  "bin/loom_backrun",
  "bin/loom_exex",
  "bin/nodebench",
  "bin/replayer",
  "crates/debug-provider",
  "crates/defi-abi",
  "crates/defi-actors",
  "crates/defi-address-book",
  "crates/defi-blockchain",
  "crates/defi-entities",
  "crates/defi-events",
  "crates/defi-pools",
  "crates/flashbots",
  "crates/loom",
  "crates/loom-metrics",
  "crates/loom-revm-db",
  "crates/multicaller",
  "crates/reth-exex-grpc",
  "crates/topology",
  "crates/types",
  "crates/uniswap-v3-math",
  "crates/utils",
]
resolver = "2"

[workspace.package]
edition = "2021"
exclude = [".github/"]
homepage = ""
license = "MIT OR Apache-2.0"
repository = ""
rust-version = "1.82"
version = "0.2.0"

[workspace.dependencies]
debug-provider = { path = "crates/debug-provider" }
defi-abi = { path = "crates/defi-abi" }
defi-actors = { path = "crates/defi-actors" }
defi-address-book = { path = "crates/defi-address-book" }
defi-blockchain = { path = "crates/defi-blockchain" }
defi-entities = { path = "crates/defi-entities" }
defi-events = { path = "crates/defi-events" }
defi-pools = { path = "crates/defi-pools" }
defi-types = { path = "crates/types" }
flashbots = { path = "crates/flashbots" }
loom = { path = "crates/loom" }
loom-actors = { path = "crates/actors" }
loom-actors-macros = { path = "crates/actors-macros" }
loom-metrics = { path = "crates/loom-metrics" }
loom-multicaller = { path = "crates/multicaller" }
loom-revm-db = { path = "crates/loom-revm-db" }
loom-topology = { path = "crates/topology" }
loom-utils = { path = "crates/utils" } #, features = ["trace-calls"] }
reth-exex-grpc = { path = "crates/reth-exex-grpc" }
uniswap_v3_math = { path = "crates/uniswap-v3-math" }

aes = "0.8.3"
async-stream = "0.3.6"
async-trait = "0.1.80"
bincode = "1.3"
chrono = "0.4.26"
clap = { version = "4.5.4", features = ["derive"] }
colored = "2.0.4"
env_logger = "0.11.1"
eyre = "0.6.12"
futures = "0.3.30"
futures-util = "0.3.30"
hex = "0.4.3"
indexmap = "2.5.0"
influxdb = "0.7.2"
k256 = "0.13.3"
lazy_static = "1.4.0"
num_cpus = "1.16.0"
proc-macro2 = "1.0"
prost = "0.13"
quote = "1.0"
rand = "0.8.5"
rayon = "1.8.1"
reqwest = { version = "0.12.4", features = ["json", "trust-dns"] }
serde = "1.0.203"
serde_json = "1.0.119"
sha2 = "0.10.7"
strum = { version = "0.26.2" }
strum_macros = { version = "0.26.2" }
syn = { version = "2.0.60", features = ["fold", "full"] }
thiserror = "^1.0.61"
tokio = { version = "1.37.0", features = ["full"] }
tokio-stream = "0.1.15"
toml = "^0.8.12"
tonic = "0.12"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
url = "2.4.1"

revm = { version = "16.0.0", features = ["blst", "optional_balance_check", "secp256k1", "std"], default-features = false }
revm-inspectors = "0.9.0"
revm-primitives = { version = "12.0.0", features = ["std"], default-features = false }

alloy-chains = "0.1.32"
alloy-dyn-abi = { version = "0.8.7", features = ["json", "std"] }
alloy-primitives = { version = "0.8.7", features = ["rand"] }
alloy-sol-macro = { version = "0.8.7", features = ["json"] }
alloy-sol-types = { version = "0.8.7", features = ["json"] }

alloy-rlp = "0.3.8"
alloy-trie = "0.7.2"

alloy = { version = "0.5.2", features = [
  "consensus",
  "full",
  "json-rpc",
  "node-bindings",
  "rand",
  "rlp",
  "rpc-types-anvil",
  "rpc-types-json",
  "rpc-types-trace",
  "serde",
] }

alloy-consensus = "0.5.2"
alloy-contract = "0.5.2"
alloy-eips = "0.5.2"
alloy-json-rpc = "0.5.2"
alloy-network = "0.5.2"
alloy-node-bindings = "0.5.2"
alloy-provider = { version = "0.5.2", features = ["anvil-api", "anvil-node", "debug-api", "ipc", "pubsub", "reqwest", "ws"] }
alloy-pubsub = "0.5.2"
alloy-rpc-client = { version = "0.5.2", features = ["ipc", "pubsub", "reqwest", "ws"] }
alloy-rpc-types = "0.5.2"
alloy-rpc-types-anvil = "0.5.2"
alloy-rpc-types-beacon = "0.5.2"
alloy-rpc-types-engine = "0.5.2"
alloy-rpc-types-eth = "0.5.2"
alloy-rpc-types-trace = "0.5.2"
alloy-serde = "0.5.2"
alloy-signer = "0.5.2"
alloy-signer-local = "0.5.2"
alloy-transport = "0.5.2"
alloy-transport-http = "0.5.2"
alloy-transport-ipc = "0.5.2"
alloy-transport-ws = "0.5.2"

reth = { git = "https://github.com/paradigmxyz/reth", rev = "de07436", features = ["asm-keccak"] }
reth-chainspec = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-codecs = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-codecs-derive = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-db = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-ethereum-forks = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-execution-types = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-exex = { git = "https://github.com/paradigmxyz/reth", rev = "de07436", features = ["serde"] }
reth-exex-test-utils = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-node-api = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-node-builder = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-node-core = { git = "https://github.com/paradigmxyz/reth", rev = "de07436", features = ["asm-keccak"] }
reth-node-ethereum = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-node-types = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth", rev = "de07436", features = ["asm-keccak"] }
reth-provider = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-revm = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-rpc = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-rpc-types-compat = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-storage-api = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-testing-utils = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-tracing = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }
reth-transaction-pool = { git = "https://github.com/paradigmxyz/reth", rev = "de07436" }

tower = "0.5.1"

# build
tonic-build = "0.12"

# testing
criterion = { version = "0.5.1", features = ["async_tokio"] }

[profile.test]
debug = 1
incremental = true

[profile.release]
debug = "line-tables-only"
lto = "thin"
opt-level = 3
panic = "unwind"
strip = true # stripping of debuginfo

[profile.maxperf]
# set parallel codegen to 1 to increase performance
codegen-units = 1
inherits = "release"
lto = "fat"
