[workspace]
default-members = [
  "bin/exex_grpc_node",
  "bin/gasbench",
  "bin/keys",
  "bin/loom_anvil",
  "bin/loom_backrun",
  "bin/loom_exex",
  "bin/nodebench",
  "bin/replayer",
]
members = [
  "bin/exex_grpc_loom",
  "bin/exex_grpc_node",
  "bin/gasbench",
  "bin/keys",
  "bin/loom_anvil",
  "bin/loom_backrun",
  "bin/loom_exex",
  "bin/nodebench",
  "bin/replayer",
  "crates/debug-provider",
  "crates/defi-abi",
  "crates/defi-actors",
  "crates/defi-address-book",
  "crates/defi-blockchain",
  "crates/defi-blockchain-actors",
  "crates/defi-entities",
  "crates/defi-events",
  "crates/defi-pools",
  "crates/flashbots",
  "crates/loom",
  "crates/loom-db",
  "crates/loom-metrics",
  "crates/loom-revm-db",
  "crates/loom-web",
  "crates/loom-web-state",
  "crates/multicaller",
  "crates/reth-exex-grpc",
  "crates/topology",
  "crates/types",
  "crates/uniswap-v3-math",
  "crates/utils",
]
resolver = "2"

[workspace.package]
edition = "2021"
exclude = [".github/"]
homepage = "https://github.com/dexloom/loom"
license = "MIT OR Apache-2.0"
repository = "https://github.com/dexloom/loom"
rust-version = "1.82"
version = "0.2.0"

[workspace.dependencies]
debug-provider = { path = "crates/debug-provider" }
defi-abi = { path = "crates/defi-abi" }
defi-actors = { path = "crates/defi-actors" }
defi-address-book = { path = "crates/defi-address-book" }
defi-blockchain = { path = "crates/defi-blockchain" }
defi-blockchain-actors = { path = "crates/defi-blockchain-actors" }
defi-entities = { path = "crates/defi-entities" }
defi-events = { path = "crates/defi-events" }
defi-pools = { path = "crates/defi-pools" }
defi-types = { path = "crates/types" }
flashbots = { path = "crates/flashbots" }
loom = { path = "crates/loom" }
loom-actors = { path = "crates/actors" }
loom-actors-macros = { path = "crates/actors-macros" }
loom-db = { path = "crates/loom-db" }
loom-metrics = { path = "crates/loom-metrics" }
loom-multicaller = { path = "crates/multicaller" }
loom-revm-db = { path = "crates/loom-revm-db" }
loom-topology = { path = "crates/topology" }
loom-utils = { path = "crates/utils" } #, features = ["trace-calls"] }
loom-web = { path = "crates/loom-web" }
loom-web-state = { path = "crates/loom-web-state" }
reth-exex-grpc = { path = "crates/reth-exex-grpc" }
uniswap_v3_math = { path = "crates/uniswap-v3-math" }

# logging
env_logger = "0.11"
tracing = "0.1"
tracing-subscriber = "0.3"

# error handling
eyre = "0.6"
thiserror = "1.0"

# async
async-stream = "0.3"
async-trait = "0.1"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
tokio-util = "0.7"

# misc
aes = "0.8"
bincode = "1.3"
chrono = "0.4"
clap = { version = "4.5", features = ["derive"] }
colored = "2.0"
futures = "0.3"
futures-util = "0.3"
hex = "0.4"
indexmap = "2.5"
k256 = "0.13"
lazy_static = "1.4"
num_cpus = "1.16"
proc-macro2 = "1.0"
prost = "0.13"
quote = "1.0"
rand = "0.8"
rayon = "1.8"
reqwest = { version = "0.12", features = ["json", "trust-dns"] }
serde = "1.0"
serde_json = "1.0"
sha2 = "0.10"
strum = { version = "0.26" }
strum_macros = { version = "0.26" }
syn = { version = "2.0", features = ["fold", "full"] }
toml = "0.8"
tonic = "0.12"
tower = "0.5.1"
url = "2.4"

# db
bb8 = "0.8"
diesel = { version = "2.2", features = ["chrono", "numeric", "postgres"] }
diesel-async = { git = "https://github.com/weiznich/diesel_async", rev = "6437e59", features = ["bb8", "postgres"] }
diesel-derive-enum = { version = "2.1", features = ["postgres"] }
influxdb = "0.7"

# web
axum = { version = "0.7", features = ["macros", "ws"] }
tower-http = { version = "0.6", features = ["fs", "trace"] }
utoipa = { version = "5.1", features = ["axum_extras", "chrono", "uuid"] }
utoipa-swagger-ui = { version = "8.0", features = ["axum"] }

# build
tonic-build = "0.12"

# testing
criterion = { version = "0.5.1", features = ["async_tokio"] }

## We keep revm and alloy dependencies pinned to specific versions as reth depends on them

# revm
revm = { version = "17.1.0", features = ["blst", "optional_balance_check", "secp256k1", "std"], default-features = false }
revm-inspectors = "0.10.0"
revm-primitives = { version = "13.0.0", features = ["std"], default-features = false }

# alloy
alloy = { version = "0.5.4", features = [
  "consensus",
  "full",
  "json-rpc",
  "node-bindings",
  "rand",
  "rlp",
  "rpc-types-anvil",
  "rpc-types-json",
  "rpc-types-trace",
  "serde",
] }
alloy-chains = "0.1.32"
alloy-consensus = "0.5.4"
alloy-contract = "0.5.4"
alloy-dyn-abi = { version = "0.8.7", features = ["json", "std"] }
alloy-eips = "0.5.4"
alloy-json-rpc = "0.5.4"
alloy-network = "0.5.4"
alloy-node-bindings = "0.5.4"
alloy-primitives = { version = "0.8.7", features = ["rand"] }
alloy-provider = { version = "0.5.4", features = ["anvil-api", "anvil-node", "debug-api", "ipc", "pubsub", "reqwest", "ws"] }
alloy-pubsub = "0.5.4"
alloy-rlp = "0.3.8"
alloy-rpc-client = { version = "0.5.4", features = ["ipc", "pubsub", "reqwest", "ws"] }
alloy-rpc-types = "0.5.4"
alloy-rpc-types-anvil = "0.5.4"
alloy-rpc-types-beacon = "0.5.4"
alloy-rpc-types-engine = "0.5.4"
alloy-rpc-types-eth = "0.5.4"
alloy-rpc-types-trace = "0.5.4"
alloy-serde = "0.5.4"
alloy-signer = "0.5.4"
alloy-signer-local = "0.5.4"
alloy-sol-macro = { version = "0.8.7", features = ["json"] }
alloy-sol-types = { version = "0.8.7", features = ["json"] }
alloy-transport = "0.5.4"
alloy-transport-http = "0.5.4"
alloy-transport-ipc = "0.5.4"
alloy-transport-ws = "0.5.4"
alloy-trie = "0.7.2"

# reth
reth = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148", features = ["asm-keccak"] }
reth-chainspec = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-codecs = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-codecs-derive = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-db = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-ethereum-forks = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-execution-types = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-exex = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148", features = ["serde"] }
reth-exex-test-utils = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-node-api = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-node-builder = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-node-core = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148", features = ["asm-keccak"] }
reth-node-ethereum = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-node-types = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148", features = ["asm-keccak"] }
reth-provider = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-revm = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-rpc = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-rpc-types-compat = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-storage-api = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-testing-utils = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-tracing = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }
reth-transaction-pool = { git = "https://github.com/paradigmxyz/reth", rev = "0df3148" }

[profile.test]
debug = 1
incremental = true

[profile.release]
debug = "line-tables-only"
lto = "thin"
opt-level = 3
panic = "unwind"
strip = true # stripping of debuginfo

[profile.maxperf]
# set parallel codegen to 1 to increase performance
codegen-units = 1
inherits = "release"
lto = "fat"
